{% extends "base.html" %}

{% block body %}

    <!-- Shown - selected products -->
<div class="shown_products">
        Shop <i class="fa-solid fa-angle-right"></i> {{product.name}}
</div>

<!--Details body-->
<div class="details_body">
        
        <div class="pro_detail">
            <!-- Product images  -->
            <div class="imgs_details">
                <!-- product main image -->
                <div class="img_detail"> 
                    <img onclick="toggleFullscreen('detail_img')" id='detail_img' src="{{product.get_main_image}}" alt="">
                </div>

                <!-- Products all Images View -->
                <div class="det_choices">

                    <div><i id="choices_left" class="fa-solid fa-chevron-left"></i></div>

                    <!-- Products' images -->
                    <div id="imgs_choices" class="imgs_choices">
                        
                        {% for image in product.images.all %}
                        <div id='pro_choices' class="pro_choices">
                            <img src="{{ image.images.url }}" alt=""  onclick="changeMainImage('{{ image.images.url }}')">
                        </div>
                        {% endfor %}
                    
                    </div>

                    <i id="choices_right" class="fa-solid fa-chevron-right"></i>
                </div>

            </div>

            <!-- Products About - Detail -->
            <div class="about_detail">
                <p>{{product.brand}}</p>
                <h3>{{product.name}}</h3>

                <!-- Product's rating -->
                <div>
                    <!-- Rating stars -->
                    <span id="pro_rate" class="pro_rate">
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                    </span>
                    <!-- Rating Average -->
                     <span style="color:grey">
                        <input id="average_rating" class="average_rating" type="hidden" value="{{average_rating}}">
                        {{average_rating|floatformat:1}}({{product.comments.count}} Reviews)
                    </span>

                </div>
                
                <p>${{product.price|floatformat:2}}</p>
                <p>{{product.descriptions}}</p>

                <ul>
                    <li>
                        <h5>Color</h5>
                        <!-- Products' colors types -->
                        <ul>
                            <!-- This Product's color -->
                            <li  class="color_li">
                                <a href="{% url 'products-details' product.id %}">
                                    <div class="color" style='background-color: {{product.color.color_code }}'></div>
                                </a>
                            </li>
                            <!-- Product's other colors -->
                            {% if products %}
                            {% for product in products %}
                            <li  class="color_li">
                                <a href="{% url 'products-details' product.id %}">
                                    <div class="color" style='background-color: {{ product.color.color_code }} '></div>
                                </a>
                            </li>
                            {% endfor %}              
                            {% endif %}
                        </ul>
                    </li>   
                </ul>
                <!-- Buy parametr -->
                <div class="pro_buy">
                    <!-- Buy count of product -->
                    <div class="pro_count">

                        <button id='pro_minus_{{ord.product.id}}' onclick="pro_Minus(event,'{{ord.product.id}}')" title="Minus" disabled=""  type="button" >
                            <i   class="fa-solid fa-minus"></i>
                        </button>

                        <input readonly type="number" class="count_input" form="checking_form" value="1" name='quantity' id='pro_count_{{ord.product.id}}'>

                         <button id='pro_plus_{{ord.product.id}}' onclick="pro_Plus(event,'{{ord.product.id}}')" title="Plus" type="button">
                            <i id='' class="fa-solid fa-plus"></i>
                        </button>
                        
                    </div>

                    <!--Product Buy Form  -->
                    <form action="" id="checking_form" method="post">
                        {% csrf_token %}
                        <!-- Selected product -->
                        <input type="hidden" value="{{product.id}}" form="checking_form" name="product_id">
                        <button type="submit" form="checking_form" class="pro_btn">Add To Card</button>
                    </form>
                    
                    <!-- Favorites add -->
                    <div class="pro_heart"><i class="fa-regular fa-heart"></i></div>
                </div>

                <!-- Products shared social -->
                <div class="pro_share"> 
                    <ul>
                        <h5>Share</h5>
                        <li>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                    </ul>
                </div>
                
                    <!-- Stock -->
                    {% if product.instock %}
                    <div class="pro_stock">  In stock </div>
                    {% else %}
                    <div class="pro_Nstock"> Not stock </div>
                    {% endif %}
                        
                
            </div>

        </div>

        <!--  -->
        <div class="detail_info">
            <!-- detail info header -->
            <ul>
                <li> <p class='active' id='det_des'>Descriptions</p> </li>
                <li> <p id='det_add' >Additional Information</p> </li>
                <li> <p id='det_rev' >Reviews</p> </li>
            </ul>
            <!-- Detail info details -->
            <div id='det_info_det' class="det_info_det">
                {% include "pro_comment.html" %}
                {% include "pro_additional.html" %}
                {% include "pro_description.html" %}
            </div>
        </div>
</div>


<!-- Related Products -->
<div class="related_product">
    <h2>Related Products</h2>

    <!-- Rel product -->
    <div id="rel_detail" class="rel_detail">
            {% for rel in related %}
            <div class='rel_slider'>
                <a href="{% url 'products-details' rel.id %}">
                    <div  class="rel_pro">
                        <!-- Rel Products Image -->
                        <div class="pro_image">
                            <img src="{{rel.get_main_image}}" id="rel_image_{{ rel.id }}" alt="">
                            <div class="img_icons">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-solid fa-right-left"></i>
                                <i class="fa-regular fa-eye" onclick="toggleFullscreen(event,'rel_image_{{ rel.id }}')"></i>
                            </div>
                        </div>
                        <!-- Rel Product's About -->
                        <div class="pro_about">
                            <div class="pro_brand">{{rel.brand}}</div>
                            <div class="pro_name">{{rel.name}}</div>
                            <div class="pro_price">${{rel.price|floatformat:2}}</div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
    </div>
</div>
    
  
<!-- Product detail Comments messages  -->
{% if messages %}
    {% for message in messages %}

        {% if message.tags == 'success' %}
            <div class="messages success">
                {{message}}
            </div>

        {% else %}
            <div class="messages warning">
                {{message}}
            </div>
        {% endif %}

    {% endfor %}
{% endif %}
    

{% endblock body %}

