{% extends "base.html" %}
{% block body %}

<div class="shipping">
    <div class="shipping_left">
      <div class="shipping_caption">
        <h1>Shipping Address</h1>
      </div>

      <div class="shipping_icon">
        <img src="/media/navbar-footer_img/shipping_icon.png" alt="" />
      </div>

      <div class="shipping_text">
        <h4>Select a delivery address</h4><br>
        <span
          >Is the address you'd like to use displayed below? If so, click
          the corresponding "Deliver to this <br> address" button. Or you can
          enter a new delivery address.</span
        >
      </div>
      <div class="shipping_adress">
        
        {% if address %}
          {% for add in address %}
            <div class="ship_adress">

              <h3 class="ship_user"><span>{{add.name}}</span>
  
                {% if add.default_address %}
                <input  checked type="radio"  form="deliver" class="input_check" value="{{add.id}}" name="default_adress" id="{{add.id}}">
                {% else %}
                <input  form="deliver"  type="radio"  value="{{add.id}}" class="input_check" name="default_adress" id="{{add.id}}">
                {% endif %}
            </h3>
              
              
        
            
            <div class="address_details"><span>{{add.flat}}</span><span>{{add.Area}}</span><span>{{add.city}}</span><span>{{add.country}}</span><span>{{add.pin}}</span></div>
            <div class="address_update">
        <a class="address_change" href="{% url 'update-address' add.id %}"><i class="fa-regular fa-pen-to-square" style="color: #000000;"></i></a>
          <a class="address_delete" href="{% url 'delete-address' add.id %} "><i class="fa-regular fa-trash-can" style="color: #ff0000;"></i></a>
            </div>

          </div>
          {% endfor %}
        {% endif %}
          
      </div>
      <div class="">
        <a style="cursor: pointer;" href="{% url 'payments' %}"><button type="submit" form="deliver" id="proceed-to-checkout">Deliver Here</button></a>
      </div>
      <form action="" id="deliver" method="post"> {% csrf_token %}</form>
    </div>

    <div class="checkout_right">
      <div class="subtotal">
        <h4>Subtotal</h4>
        <h4>${{ user_order_summary.subtotal|floatformat:2}}</h4>
      </div>
      <hr id="subtotal_hr" /> 
      
      <div class="">
        <span style="text-align:left;">Enter Discount Code</span>
        <div class="coupon">
  
          <form class="coupon_input" method="post" action="{% url 'apply-discount' %}">
            {% csrf_token %}
            
            {% if user_order_summary.discounts %}
            <input required type="text" id="coupon-code" value="{{user_order_summary.discounts}}" name="discount_code" placeholder="Enter discount code"/>
            {% else %}
            <input required type="text" id="coupon-code" value="" name="discount_code" placeholder="Enter discount code"/>
            {% endif %}

                    <button type="submit" id="apply-coupon">Apply</button>
                  </form>
              <div>
                
                {% if messages %}
                    
                    {% for message in messages %}
                    {% if  message.tags == 'warning' %}
                    <span style="font-size: 10px;color:red">{{message}}</span>
                    {% else %}
                    <span style="font-size: 10px;color:green">{{message}}</span>
                  {% endif %}
                    {% endfor %}
                      
                  
                {% endif %}
                  
              </div>
      </div>

      
    </div>
    <div class="delivery">
      <div>Delivery charge</div>
      <div>
        
        ${{user_order_summary.total_delivery_cost|floatformat:2}}
        
      </div>
    </div>
    <div class="delivery">
      {% if user_order_summary.discount_value > 0 %}
      <div>Discount</div>
      <div>-${{user_order_summary.discount_value}}</div>
      {% endif %}
    </div>
      <hr id="subtotal_hr" />

      <div class="total">
        <h4>Grand Total</h4>
        <h4 >${{user_order_summary.grand_total|floatformat:2}}</h4>
      </div>

    </div>
  </div>


  <div class="shipping_form">
    <h4>Add a new address</h4>
    
    {% if update_address %}
    <form id="ship_form" action="{% url 'update-address' update_address.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" value='{{update_address.name}}' placeholder="Enter Name" required >
      </div>

      <div class="form-group">
          <label for="phone">Phone number:</label>
          <input type="tel" id="phone" value='{{update_address.phone}}' name="phone" placeholder="Enter Mobile Number" required>
      </div>

      <div class="form-group">
          <label for="address-details">Flat, House no., Building, Company, Apartment
          </label>
          <input type="text" id="address-details" value='{{update_address.flat}}' name="flat" required>
      </div>

      <div class="form-group">
          <label for="area">Area, Colony, Street, Sector, Village
          </label>
          <input type="text" id="area" value='{{update_address.Area}}' name="area" required>
      </div>

      <div class="form-group">
          <label for="city">City</label>
          <select id="city" name="city" value='{{update_address.city}}' required>

             
          </select>
      </div>

      <div class="form-group">
          <label for="pin-code">Pin Kod</label>
          <input type="text" value='{{update_address.pin}}' id="pin-code" name="pin-code" placeholder="Enter Pin Code" required>
      </div>

      <div class="form-group">
          <label for="state">State</label>
          <select value='{{update_address.country}}' id="state" name="state" required>
            
        </select>
      </div>

      <div >
        
        <label style="display: flex;align-items:center;" for="default-address"><input  class="input_check" style='margin-right:5px' type="checkbox" value='{{update_address.default_address}}' id="default-address"  name="default-address">Use as my default address</label>
    </div>

      <div class="form-group">
          <button type="submit">Add new address</button>
      </div>
  </form>
    {% else %}
    <form id="ship_form" action="{% url 'address-add' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Enter Name" required >
      </div>

      <div class="form-group">
          <label for="phone">Phone number:</label>
          <input type="tel" id="phone" name="phone" placeholder="Enter Mobile Number" required>
      </div>

      <div class="form-group">
          <label for="address-details">Flat, House no., Building, Company, Apartment
          </label>
          <input type="text" id="address-details" name="flat" required>
      </div>

      <div class="form-group">
          <label for="area">Area, Colony, Street, Sector, Village
          </label>
          <input type="text" id="area" name="area" required>
      </div>

      <div class="form-group">
          <label for="city">City</label>
          <select id="city" name="city" required>

             
          </select>
      </div>

      <div class="form-group">
          <label for="pin-code">Pin Kod</label>
          <input type="text" id="pin-code" name="pin-code" placeholder="Enter Pin Code" required>
      </div>

      <div class="form-group">
          <label for="state">State</label>
          <select value='Azerbaijan' id="state" name="state" required>
            
        </select>
      </div>

      <div >
        
        <label style="display: flex;align-items:center;" for="default-address"><input  class="input_check" style='margin-right:5px' type="checkbox" value='True' id="default-address" name="default-address">Use as my default address</label>
    </div>

      <div class="form-group">
          <button type="submit">Add new address</button>
      </div>
  </form>
    {% endif %}
      
  </div>

{% endblock body %}